{
    "printWidth": 100,
    "tabWidth": 2,
    "tabs": true,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "tailwindConfig": "./frontend/src/styles/index.css",
    "tailwindPreserveWhitespace": false,
    "tailwindPreserveDuplicates": false
  }
  